#detail {
  width: 1200px;
  margin: 20px 0 0 50px;
}

.buy_header {
  height: 300px;
  
  background-color: white;
}
.buy_header_h1 {
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}
.buy_header_text p {
  text-align: left;
  background-color: #4fc08d;
  padding: 10px 10px;
  width: 1180px;
  color: white;
}
.table {
  margin-top: 30px;
  height: 250px;
  background-color: white;
}
.table h2{
  font-size: 25px;
  padding-top: 20px;
}
.table p {
  padding: 10px 20px;
  line-height: 1.5em;
  text-align: left;
}
.header_selected {
  width: 200px;
  padding: 20px;
}
.header_list {
  display: flex;
  text-align: left;
  justify-content: space-between;
  padding-bottom: 10px;
}

.buy_button {
  text-decoration: none;
  background: #4fc08d;
  color: white;
  border: 1px solid #4fc08d;
  width: 100px;
  height: 30px;
} 